<?xml version="1.0" ?>
<model>
    <name>Hook_03</name>
    <version>0.3</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>aliosmanatik</name>
        <email>atikme@itu.edu.tr</email>
    </author>
    <description>Hook for quadrotor - light version with two joints</description>
</model>
